In [44]:
import pandas as pd

In [45]:
df = pd.read_csv('./data/batchdump_APR29.csv')

In [46]:
df.head(5)

,Incident Datetime,Incident Date,Incident Time,Incident Year,Incident Day of Week,Report Datetime,Row ID,Incident ID,Incident Number,CAD Number,...,Longitude,Point,Neighborhoods,ESNCAG - Boundary File,Central Market/Tenderloin Boundary Polygon - Updated,Civic Center Harm Reduction Project Boundary,HSOC Zones as of 2018-06-05,Invest In Neighborhoods (IIN) Areas,Current Supervisor Districts,Current Police Districts
0,2023/03/13 11:41:00 PM,2023/03/13,23:41,2023,Monday,2023/03/13 11:41:00 PM,125373607041,1253736,230167874,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023/03/01 05:02:00 AM,2023/03/01,05:02,2023,Wednesday,2023/03/11 03:40:00 PM,125379506374,1253795,236046151,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023/03/13 01:16:00 PM,2023/03/13,13:16,2023,Monday,2023/03/13 01:17:00 PM,125357107041,1253571,220343896,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023/03/13 10:59:00 AM,2023/03/13,10:59,2023,Monday,2023/03/13 11:00:00 AM,125355107041,1253551,230174885,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023/03/14 06:44:00 PM,2023/03/14,18:44,2023,Tuesday,2023/03/14 06:45:00 PM,125402407041,1254024,230176728,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
Datedf = pd.DataFrame(columns=["DateTime","Year","Month","Date","week_number","week_name","month_name"])

In [48]:
df.columns

Index(['Incident Datetime', 'Incident Date', 'Incident Time', 'Incident Year',
       'Incident Day of Week', 'Report Datetime', 'Row ID', 'Incident ID',
       'Incident Number', 'CAD Number', 'Report Type Code',
       'Report Type Description', 'Filed Online', 'Incident Code',
       'Incident Category', 'Incident Subcategory', 'Incident Description',
       'Resolution', 'Intersection', 'CNN', 'Police District',
       'Analysis Neighborhood', 'Supervisor District',
       'Supervisor District 2012', 'Latitude', 'Longitude', 'Point',
       'Neighborhoods', 'ESNCAG - Boundary File',
       'Central Market/Tenderloin Boundary Polygon - Updated',
       'Civic Center Harm Reduction Project Boundary',
       'HSOC Zones as of 2018-06-05', 'Invest In Neighborhoods (IIN) Areas',
       'Current Supervisor Districts', 'Current Police Districts'],
      dtype='object')

In [49]:
factcolumns = ['Row ID','Incident ID','Incident Number','Report Type Code','Incident Code','Police District','Analysis Neighborhood','Intersection','Incident Datetime','Report Datetime','Filed Online','Point','Resolution']
incidentreportcolumns = ['Incident Code','Incident Category', 'Incident Subcategory', 'Incident Description']
reportcolumns = ['Report Type Code','Report Type Description']
locationcolumns = ['Point','Latitude', 'Longitude']
curatedcolumns = ['Incident Datetime', 'Incident Date', 'Report Datetime', 'Row ID', 'Incident ID','Incident Number', 'Report Type Code','Report Type Description', 'Incident Code','Incident Category', 'Incident Subcategory', 'Incident Description','Resolution', 'Police District', 'Filed Online','CAD Number','Intersection','CNN','Analysis Neighborhood', 'Supervisor District','Supervisor District 2012', 'Latitude', 'Longitude', 'Point']

In [50]:
Factdf = df[factcolumns]
Factdf.columns = ["RowID","IncidentID","IncidentNumber","ReportType","IncidentCode","PoliceDistrict","AnalysisNeighborhood","Intersection","IncidentTimeStamp","ReportTimeStamp","OnlineIncident","PointID","Resolution"]

In [51]:
Factdf.head(5)

,RowID,IncidentID,IncidentNumber,ReportType,IncidentCode,PoliceDistrict,AnalysisNeighborhood,Intersection,IncidentTimeStamp,ReportTimeStamp,OnlineIncident,PointID,Resolution
0,125373607041,1253736,230167874,VS,7041,Out of SF,NaN,NaN,2023/03/13 11:41:00 PM,2023/03/13 11:41:00 PM,NaN,NaN,Open or Active
1,125379506374,1253795,236046151,II,6374,Mission,NaN,NaN,2023/03/01 05:02:00 AM,2023/03/11 03:40:00 PM,True,NaN,Open or Active
2,125357107041,1253571,220343896,VS,7041,Out of SF,NaN,NaN,2023/03/13 01:16:00 PM,2023/03/13 01:17:00 PM,NaN,NaN,Open or Active
3,125355107041,1253551,230174885,VS,7041,Out of SF,NaN,NaN,2023/03/13 10:59:00 AM,2023/03/13 11:00:00 AM,NaN,NaN,Open or Active
4,125402407041,1254024,230176728,VS,7041,Out of SF,NaN,NaN,2023/03/14 06:44:00 PM,2023/03/14 06:45:00 PM,NaN,NaN,Open or Active

In [52]:
Reportdf = df[reportcolumns]
Reportdf.columns = ["report_type_code","report_type_description"]

In [53]:
Reportdf.shape

(846401, 2)

In [54]:
IncidentReportdf = df[incidentreportcolumns]
IncidentReportdf.columns = ["incident_code","incident_category","incident_subcategory","incident_description"]

In [55]:
IncidentReportdf.head(5)

,incident_code,incident_category,incident_subcategory,incident_description
0,7041,Recovered Vehicle,Recovered Vehicle,"Vehicle, Recovered, Auto"
1,6374,Larceny Theft,Larceny Theft - Other,"Theft, Other Property, >$950"
2,7041,Recovered Vehicle,Recovered Vehicle,"Vehicle, Recovered, Auto"
3,7041,Recovered Vehicle,Recovered Vehicle,"Vehicle, Recovered, Auto"
4,7041,Recovered Vehicle,Recovered Vehicle,"Vehicle, Recovered, Auto"

In [105]:
Datedf = pd.concat([df['Incident Datetime'],df['Report Datetime']],ignore_index=True).to_frame()
Datedf.columns = ['DateTime']

In [57]:
Locationdf = df[locationcolumns]
Locationdf.columns = ['PointID','Latitude','Longitude']

In [58]:
Curateddf = df[curatedcolumns]
Curateddf.columns = ["incident_datetime","incident_date","report_datetime","row_id","incident_id","incident_number","report_type_code","report_type_description","incident_code","incident_category","incident_subcategory","incident_description","resolution","police_district","onlineincident","cad_number","intersection","cnn","analysis_neighborhood","supervisor_district","supervisor_district_2012","latitude","longitude","point"]

# Removing duplicates

In [59]:
Reportdf = Reportdf.drop_duplicates()
IncidentReportdf = IncidentReportdf.drop_duplicates()
Locationdf = Locationdf.drop_duplicates()

In [106]:
Datedf = Datedf.drop_duplicates()
Datedf['DateTime'] = pd.to_datetime(Datedf['DateTime'])

## Adding Date Related fields

In [107]:
Datedf['Date'] = Datedf['DateTime'].dt.date
Datedf['Hour'] = Datedf['DateTime'].dt.strftime('%H:%M')
Datedf['Year'] = Datedf['DateTime'].dt.year
Datedf['Month'] = Datedf['DateTime'].dt.month
Datedf['Day'] = Datedf['DateTime'].dt.day
Datedf['Weeknumber'] = Datedf['DateTime'].dt.isocalendar().week
Datedf['Weekday'] = Datedf['DateTime'].dt.strftime('%A')
Datedf['MonthName'] = Datedf['DateTime'].dt.strftime('%B')
Datedf['Weeknumber'] = Datedf['Weeknumber'].astype(int)
# Datedf['DateTime'] = Datedf['DateTime'].astype(str)

In [108]:
Datedf.head(5)

,DateTime,Date,Hour,Year,Month,Day,Weeknumber,Weekday,MonthName
0,2023-03-13 23:41:00,2023-03-13,23:41,2023,3,13,11,Monday,March
1,2023-03-01 05:02:00,2023-03-01,05:02,2023,3,1,9,Wednesday,March
2,2023-03-13 13:16:00,2023-03-13,13:16,2023,3,13,11,Monday,March
3,2023-03-13 10:59:00,2023-03-13,10:59,2023,3,13,11,Monday,March
4,2023-03-14 18:44:00,2023-03-14,18:44,2023,3,14,11,Tuesday,March

In [68]:
Curateddf.dtypes

incident_datetime           datetime64[ns]
incident_date               datetime64[ns]
report_datetime             datetime64[ns]
row_id                               int64
incident_id                          int64
incident_number                      int64
report_type_code                    object
report_type_description             object
incident_code                        int64
incident_category                   object
incident_subcategory                object
incident_description                object
resolution                          object
police_district                     object
onlineincident                      object
cad_number                           int64
intersection                        object
cnn                                  int64
analysis_neighborhood               object
supervisor_district                  int64
supervisor_district_2012             int64
latitude                           float64
longitude                          float64
point                               object
load_timestamp                      object
dtype: object

In [64]:
Curateddf['incident_datetime'] = pd.to_datetime(Curateddf['incident_datetime'])
Curateddf['incident_date'] = pd.to_datetime(Curateddf['incident_date'])
Curateddf['report_datetime'] = pd.to_datetime(Curateddf['report_datetime'])

/var/folders/l_/wfdf7sk55vb8ny92wschxkpw0000gn/T/ipykernel_3618/1848425529.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Curateddf['incident_datetime'] = pd.to_datetime(Curateddf['incident_datetime'])
/var/folders/l_/wfdf7sk55vb8ny92wschxkpw0000gn/T/ipykernel_3618/1848425529.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Curateddf['incident_date'] = pd.to_datetime(Curateddf['incident_date'])
/var/folders/l_/wfdf7sk55vb8ny92wschxkpw0000gn/T/ipykernel_3618/1848425529.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Curateddf['report_datetime'] = pd.to_datetime(Curateddf['report_datetime'])

In [65]:
Curateddf['cad_number'] = Curateddf['cad_number'].fillna(9999).astype(int)
Curateddf['cnn'] = Curateddf['cnn'].fillna(9999).astype(int)
Curateddf['supervisor_district'] = Curateddf['supervisor_district'].fillna(9999).astype(int)
Curateddf['supervisor_district_2012'] = Curateddf['supervisor_district_2012'].fillna(9999).astype(int)
Curateddf["onlineincident"] = Curateddf["onlineincident"].fillna(0).astype(int)

/var/folders/l_/wfdf7sk55vb8ny92wschxkpw0000gn/T/ipykernel_3618/2216007853.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Curateddf['cad_number'] = Curateddf['cad_number'].fillna(9999).astype(int)
/var/folders/l_/wfdf7sk55vb8ny92wschxkpw0000gn/T/ipykernel_3618/2216007853.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Curateddf['cnn'] = Curateddf['cnn'].fillna(9999).astype(int)
/var/folders/l_/wfdf7sk55vb8ny92wschxkpw0000gn/T/ipykernel_3618/2216007853.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Curateddf['supervisor_district'] = Curateddf['supervisor_district'].fillna(9999).astype(int)
/var/folders/l_/wfdf7sk55vb8ny92wschxkpw0000gn/T/ipykernel_3618/2216007853.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Curateddf['supervisor_district_2012'] = Curateddf['supervisor_district_2012'].fillna(9999).astype(int)

In [66]:
Curateddf['load_timestamp'] = 'Batch Load'

/var/folders/l_/wfdf7sk55vb8ny92wschxkpw0000gn/T/ipykernel_3618/647141117.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Curateddf['load_timestamp'] = 'Batch Load'

In [67]:
Curateddf.head(5)

,incident_datetime,incident_date,report_datetime,row_id,incident_id,incident_number,report_type_code,report_type_description,incident_code,incident_category,...,cad_number,intersection,cnn,analysis_neighborhood,supervisor_district,supervisor_district_2012,latitude,longitude,point,load_timestamp
0,2023-03-13 23:41:00,2023-03-13,2023-03-13 23:41:00,125373607041,1253736,230167874,VS,Vehicle Supplement,7041,Recovered Vehicle,...,9999,NaN,9999,NaN,9999,9999,NaN,NaN,NaN,Batch Load
1,2023-03-01 05:02:00,2023-03-01,2023-03-11 15:40:00,125379506374,1253795,236046151,II,Coplogic Initial,6374,Larceny Theft,...,9999,NaN,9999,NaN,9999,9999,NaN,NaN,NaN,Batch Load
2,2023-03-13 13:16:00,2023-03-13,2023-03-13 13:17:00,125357107041,1253571,220343896,VS,Vehicle Supplement,7041,Recovered Vehicle,...,9999,NaN,9999,NaN,9999,9999,NaN,NaN,NaN,Batch Load
3,2023-03-13 10:59:00,2023-03-13,2023-03-13 11:00:00,125355107041,1253551,230174885,VS,Vehicle Supplement,7041,Recovered Vehicle,...,9999,NaN,9999,NaN,9999,9999,NaN,NaN,NaN,Batch Load
4,2023-03-14 18:44:00,2023-03-14,2023-03-14 18:45:00,125402407041,1254024,230176728,VS,Vehicle Supplement,7041,Recovered Vehicle,...,9999,NaN,9999,NaN,9999,9999,NaN,NaN,NaN,Batch Load

In [116]:
Factdf["OnlineIncident"] = Factdf["OnlineIncident"].fillna(0).astype(int)

/var/folders/l_/wfdf7sk55vb8ny92wschxkpw0000gn/T/ipykernel_3618/857964209.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Factdf["OnlineIncident"] = Factdf["OnlineIncident"].fillna(0).astype(int)

In [74]:
from google.oauth2 import service_account
project_id = 'hakoona-matata-298704'
service_account_file = '/Users/mani/Downloads/hakoona-matata-298704-ae95f0e3a754.json'
credentials = service_account.Credentials.from_service_account_file(service_account_file)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 1991.60it/s]

In [75]:
curated_table = 'SFCrimeData.tbl_curated_crime'
Curateddf.to_gbq(curated_table, project_id=project_id, if_exists='replace', credentials=credentials,table_schema=[{"name":"incident_date", "type":"DATE"}])

(846401, 25)

In [109]:
Datedf.dtypes

DateTime      datetime64[ns]
Date                  object
Hour                  object
Year                   int64
Month                  int64
Day                    int64
Weeknumber             int64
Weekday               object
MonthName             object
dtype: object

In [110]:
date_table = 'SFCrimeData.tbl_dim_date'
Datedf.to_gbq(date_table,project_id=project_id,if_exists='replace', credentials=credentials,table_schema=[{"name":"Date", "type":"DATE"}])

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 3495.25it/s]

In [113]:
incidentreport_table = 'SFCrimeData.tbl_dim_incident_report'
IncidentReportdf.to_gbq(incidentreport_table,project_id=project_id,if_exists='replace',credentials=credentials)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 5555.37it/s]

In [114]:
report_table = 'SFCrimeData.tbl_dim_report'
Reportdf.to_gbq(report_table,project_id=project_id,if_exists='replace',credentials=credentials)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 5433.04it/s]

In [117]:
fact_table = 'SFCrimeData.tbl_fact_crime'
Factdf.to_gbq(fact_table,project_id=project_id,if_exists='replace',credentials=credentials)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 3355.44it/s]

In [118]:
location_table = 'SFCrimeData.tbl_dim_location'
Locationdf.to_gbq(location_table,project_id=project_id,if_exists='replace',credentials=credentials)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 4064.25it/s]